numpy>=1.23
pandas>=1.22.4
scikit-learn==0.24.2
matplotlib>=3.9.4
seaborn==0.11.1
opencv-python==4.5.3.56
pyttsx3==2.90
tensorflow-intel>=2.18.0
keras>=2.4.0
googletrans==4.0.0-rc1
chitra>=0.1.0
